@media only screen and (max-width: 1199px){
    
    .main-nav{
        display: none;
    }
    .mobile-menu span{
        display: block;
    }
}
@media only screen and (max-width: 1024px){
    .span_1_of_4{
        width: 49.2%;
    }
    .client-photo{
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review{
        width: 100%;
        float: none;
        text-align: center;
    }
    html{
        font-size: 55.5%;
    }
    .little-description{
        width: 70%;
        margin: auto;
    }
    header{
        height: 50vh;
    }
}
@media only screen and (max-width: 980px){
    h1{
        font-size: 3rem
    }
    html{
        font-size: 53.5%;
    }
}
@media only screen and (max-width: 768px){
    h2{
        letter-spacing: 0rem;
    }
    .footer-section ul li{
        padding: 1.5rem;
        margin: 0;
    }
    header{
        height: 50vh;
        background-position: center -23rem;
    }
    .little-description{
        font-size: 2.5rem;
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .span_1_of_4{
        width: 100%;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2.2rem;
        font-weight: 600;
    }
    h3{
    font-size: 2rem;
        font-weight: 600;
    }
    html{
        font-size: 50%;
    }
    .little-description{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .span_1_of_2 {
        margin-left: 0;
        margin-bottom: 1rem;
        
    }
}
@media only screen and (max-width: 380px){
    html{
        font-size: 45%;
    }
}
@media only screen and (max-width: 280px){
    .portfollio-filter button{
        margin-bottom: 1rem;
    }
}